<div class="footer-block">
    <div class="container-b1170">
      <div class="row">
      <div class="col-md-12">
        <div class="row-fluid">
            <div class="links">
                <a href="https://pldthome.com//about-us">ABOUT US</a> 
                <a href="https://pldthome.com//news-media">NEWS</a> 
                <a href="https://pldthome.com//loyalty-and-rewards">LOYALTY AND REWARDS</a>                     
                <a href="https://pldthome.com//store-locator">STORE LOCATOR</a> 
                <a href="https://pldthome.com//contact">CONTACT US</a> 
                <a href="https://pldthome.com//terms">TERMS OF USE</a>
    <a href="https://pldthome.com//privacypolicy">PRIVACY POLICY</a>
            </div>
            <div class="social-media">
                <a href="https://www.facebook.com/PLDTHome" class="facebook">Facebook</a>
                <a href="https://twitter.com/pldthome" class="twitter">Twitter</a>
                <a href="http://instagram.com/pldthome" class="instagram">Instagram</a>
                <a href="http://www.youtube.com/user/PLDTHome" class="youtube">Youtube</a>
            </div>
            <div class="copyright">
                <p> ©PLDT Inc. </p>
            </div>
           </div> 
           </div>
        </div>
      </div>
    </div>
    

