/* You can add global styles to this file, and also import other style files */
body#PLDT-COD {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
    padding-top: 0px;
    min-width: inherit;
}

h1 { font-family: Lato; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Lato; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Lato; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Lato; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Lato; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.success p {
    margin: 0 auto;
    background: #58bb58;
    color: #f1ecec;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #4a9e4e;
    width: 100%;
}

.form-group.container.success {
    margin: 0 !important;
    padding: 0;
}