<div id="universal_header">		
  <div id="uh_content">
    <ul>
      <li class="pldt_logo"><a href="https://pldthome.com/" class="active_white"><img src="https://pldthome.com/Assets/images/top-header/pldt-color.png" height="19"></a></li>
      <li class="smart_logo"><a href="https://smart.com.ph/"><img src="https://pldthome.com/Assets/images/top-header/smart-grey.png" height="19"></a></li>
      <li class="sun_logo"><a href="https://suncellular.com.ph/"><img src="https://pldthome.com/Assets/images/top-header/sun-grey.png" height="19"></a></li>
      <li class="tnt_logo"><a href="https://tntph.com/"><img src="https://pldthome.com/Assets/images/top-header/tnt-grey.png" height="19"></a></li>
      <li class="takatak_logo"><a href="https://www.takatack.com"><img src="https://pldthome.com/Assets/images/top-header/takatack-grey.png" height="19"></a></li>
    </ul>
  </div>
</div>


<section class="header_pldt">
  <div class="wrapper">
    <div class="header_pldt-logo">
      <a href="https://pldthome.com/">
        <img src="https://pldthome.com/assets/images/header/default/logo.png">
      </a>
    </div>
    <div class="header_pldt-nav header_pldt-main-nav">
      <div class="header_pldt-nav-mobile header_pldt-main-nav-mobile">
        <a href="#">
          <i class="fa fa-list"></i>
        </a>
      </div>
      <ul class="header_pldt-nav-list">
        <li class="main-nav_option">
          <a href="#" data-nav-target="sub-nav_internet">
            INTERNET
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="header_pldt-sub-nav">
            <div class="sub-nav_content sub-nav_internet">
              <div class="sub-nav_option">
                <div class="sub-nav_option-wrapper">
                  <div class="sub-nav_option-thumb">
                    <img src="https://pldthome.com/assets/images/header/thumbs/bundle.png">
                  </div>
                  <div class="sub-nav_option-content">
                    <label>BUNDLES</label>
                    <a href="https://pldthome.com/bestbuybundle#bundleA">Best Buy Bundle</a>
                                          <a href="/wholehomewifi">Whole Home WiFi Plans</a>
                  </div>
                </div>
              </div>
                              <div class="sub-nav_option">
                <div class="sub-nav_option-wrapper">
                  <div class="sub-nav_option-thumb">
                    <img src="https://pldthome.com/assets/images/header/thumbs/internet_unlimited.png">
                  </div>
                  <div class="sub-nav_option-content">
                    <label>UNLIMITED</label>
                    <a href="/fibr">HOME Fibr</a>
                    <a href="/dsl">HOME DSL</a>
                  </div>
                </div>
              </div>
                             <div class="sub-nav_option">
                <div class="sub-nav_option-wrapper">
                  <div class="sub-nav_option-thumb">
                    <img src="https://pldthome.com/assets/images/header/thumbs/internet_volume-based.png">
                  </div>
                  <div class="sub-nav_option-content">
                    <label>VOLUME-BASED</label>
                                          <a href="https://pldthome.com/bestbuybundle#speedplans">HOME Fibr Speed Plans</a>
                                          <a href="https://pldthome.com/dsl#speedplans">HOME DSL Speed Plans</a>
                    <a href="/ultera">HOME Ultera</a>
                                          
                  </div>
                </div>
              </div>
                               
            </div>
          </div>
        </li>
        <li class="main-nav_option">
          <a href="#" data-nav-target="sub-nav_smart-home">
            SMART HOME
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="header_pldt-sub-nav">
            <div class="sub-nav_content sub-nav_smart-home">
              <div class="sub-nav_option">
                <div class="sub-nav_option-wrapper">
                  <div class="sub-nav_option-thumb">
                    <img src="https://pldthome.com/assets/images/header/thumbs/internet_unlimited.png">
                  </div>
                  <div class="sub-nav_option-content">
                    <label>HOME CONNECTIVITY</label>
                    <a href="/dsl/wifi-repeater">WiFi Repeater</a>
                    <a href="https://pldthome.com/wholehomesystem">Whole Home WiFi System</a>
                    <a href="/dlink">D-Link Routers</a>
                    <a href="/telpad">HOME Telpad</a>
                    <a href="/landline">Landline</a>
                  </div>
                </div>
              </div>
              <div class="sub-nav_option">
                <div class="sub-nav_option-wrapper">
                  <div class="sub-nav_option-thumb">
                    <img src="https://pldthome.com/assets/images/header/thumbs/smart-home_mobile.png">
                  </div>
                  <div class="sub-nav_option-content">
                    <label>MOBILE CONNECTIVITY</label>
                    <a href="/smartbro">Smart Bro</a>
                    <a href="/gigax-plans">Smart Mobile</a>
                    <a href="https://pldthome.com/pasaload">Pasaload</a>
                  </div>
                </div>
              </div>
              <div class="sub-nav_option">
                <div class="sub-nav_option-wrapper">
                  <div class="sub-nav_option-thumb">
                    <img src="https://pldthome.com/assets/images/header/thumbs/smart-home_security.png">
                  </div>
                  <div class="sub-nav_option-content">
                    <label>SECURITY</label>
                    <a href="/famcam">Fam Cam</a>
                    <a href="/famzone">Fam Zone</a>
                    <a href="/telpad/smartwatch">Smart Watch</a>
                  </div>
                </div>
              </div>
              <div class="sub-nav_option">
                <div class="sub-nav_option-wrapper">
                  <div class="sub-nav_option-thumb">
                    <img src="https://pldthome.com/assets/images/header/thumbs/smart-home_productivity.png">
                  </div>
                  <div class="sub-nav_option-content">
                    <label>PRODUCTIVITY</label>
                    <a href="/tvolutionstick ">TVolution Stick</a>
                  </div>
                </div>
              </div>
              <div class="sub-nav_option">
                <div class="sub-nav_option-wrapper">
                  <div class="sub-nav_option-thumb">
                    <img src="https://pldthome.com/assets/images/header/thumbs/smart-home_entertainment.png">
                  </div>
                  <div class="sub-nav_option-content">
                    <label>ENTERTAINMENT</label>
                    <a href="/rokupowered">Roku Powered <i>™</i> TVolution</a>
                    <a href="/cignal-plans">Cignal</a>
                    <a href="/iflix">iflix</a>
                    <a href="/netflix">Netflix</a>
                    <a href="/fox">Fox+</a>
                    <a href="/iwantv">Iwanttv</a>
                  </div>

                                     
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="main-nav_option">
          <a href="/support">
            SUPPORT
          </a>
        </li>
      </ul>
    </div>
    <div class="header_pldt-account">
      <a href="https://my.pldthome.com">  
        <img src="https://pldthome.com/assets/images/header/icons/user.png">
        <span>MY HOME ACCOUNT</span>
      </a>
      <a href="https://my.pldthome.com" class="icon-only">
        <img src="https://pldthome.com/assets/images/header/icons/user.png">
      </a>
    </div>
  </div>
     <!-- End Nav Bar --> 
  </section>