legend{margin: 20px 0;padding:10px;background: #424242;
    color: #fff;}

h2#personalDetailsHeader {
        margin: 25px 0px 0px 0px;
    }
button.btn.btn-primary {
        margin-bottom: 50px;
    }